<div>
	{{'Documento'|translate}} {{index+1}} - RG <br>

	{{'Nome'|translate}}:
	<input
		type="text"
		name="doc_rg_nome[{{index}}]"
		data-ng-model="documentsModel[index].fields[0]"
		data-ng-disabled="documentsModel[index].sameName"
		data-ng-minlength="6"
		data-ng-maxlength="100"
		data-ng-trim="true"
		required>

	<input
		type="checkbox"
		name="input"
		value="true"
		data-ng-model="documentsModel[index].sameName">
		&nbsp;{{'Nome é o igual ao do cadastro'|translate}}

	<br>

	<div
		data-ng-messages="form['doc_rg_nome['+index+']'].$error"
		data-ng-if="form['doc_rg_nome['+index+']'].$touched"
		data-ng-class="{ 'form-has-error': form['doc_rg_nome['+index+']'].$touched && form['doc_rg_nome['+index+']'].$invalid }">

		<p data-ng-message="minlength">{{'Nome é muito curto'|translate}}.</p>
        <p data-ng-message="maxlength">{{'Nome é muito longo'|translate}}.</p>
        <p data-ng-message="required">{{'Nome é obrigatório'|translate}}.</p>
    </div>

	{{'Número'|translate}} RG *:
	<input
		type="text"
		name="doc_rg_numero[{{index}}]"
		data-ng-model="documentsModel[index].fields[1]"
		required>

	<div
		data-ng-messages="form['doc_rg_numero['+index+']'].$error"
		data-ng-if="form['doc_rg_numero['+index+']'].$touched && !form['doc_rg_numero['+index+']'].sameName"
		data-ng-class="{ 'form-has-error': form['doc_rg_numero['+index+']'].$touched && form['doc_rg_numero['+index+']'].$invalid }">

        <p data-ng-message="required">{{'Número é obrigatório'|translate}}.</p>
    </div>

	{{'Orgão'|translate}} {{'Emissor'|translate}} *:
	<input
		type="text"
		name="doc_rg_orgao[{{index}}]"
		data-ng-model="documentsModel[index].fields[2]"
		required>
	<div
		data-ng-messages="form['doc_rg_orgao['+index+']'].$error"
		data-ng-if="form['doc_rg_orgao['+index+']'].$touched && !form['doc_rg_orgao['+index+']'].sameName"
		data-ng-class="{ 'form-has-error': form['doc_rg_orgao['+index+']'].$touched && form['doc_rg_orgao['+index+']'].$invalid }">

        <p data-ng-message="required">{{'Orgão é obrigatório'|translate}}.</p>
    </div>

	<button class="button alert" data-ng-click="removeElement()">{{'Remover'|translate}}</button>

</div>