<div>
	<ul>
	  <li data-ng-repeat="(key, errors) in userForm.$error track by $index"> <strong>{{ key }}</strong> errors
	    <ul>
	      <li data-ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
	    </ul>
	  </li>
	</ul>
	{{pageTitle}} 

	<form novalidate class="cad-form" name="userForm" data-polyfiller-update>
		<fieldset>
			<legend>{{'Dados de Acesso'|translate}}</legend>

			<div data-r2user-user-unique data-user-model="user" data-form="userForm" data-has-entity="hasUser"></div>

		</fieldset>

		<fieldset>
			<legend>{{'Dados Pessoais'|translate}}</legend>
			<div data-r2base-person-unique data-person-model="user.person" data-form="userForm" data-has-entity="hasUser"></div>
		</fieldset>

		<fieldset>
			<legend>{{'Telefones'|translate}}</legend>
			<div data-r2base-add-telephones data-telephones-model="user.person.telephones" data-form="userForm" data-has-entity="hasUser"></div>
		</fieldset>

		<fieldset>
			<legend>{{'Endereço'|translate}}</legend>
			<div data-r2base-add-addresses data-addresses-model="user.person.addresses" data-form="userForm" data-has-entity="hasUser"></div>
		</fieldset>

		<fieldset>
			<legend>{{'Documentos'|translate}}</legend>
			<div data-r2base-add-documents data-documents-model="user.person.documents" data-document-interface="physical" data-form="userForm" data-has-entity="hasUser"></div>
		</fieldset>

		<fieldset>
			<legend>{{'Redes Sociais'|translate}}</legend>
			<div data-r2base-add-social-networks data-social-networks-model="user.person.socialNetworks" data-form="userForm" data-has-entity="hasUser"></div>
		</fieldset>

		<fieldset>
			<legend>{{'Emails'|translate}}</legend>
			<div data-r2base-add-emails data-emails-model="user.person.emails" data-form="userForm" data-has-entity="hasUser"></div>
		</fieldset>

		<button class="button success" data-ng-click="verifyUser()">VERIFICAR USUARIO</button>

		<button class="expanded button" data-ng-click="saveUser()">CADASTRAR</button>
	</form>
</div>
