ERP HEADER

<ul>
	<li><a data-ui-sref="root">ERP Home</a>&nbsp;|&nbsp;</li>
	<li>
		<b>{{'Configurações' | translate}}</b>
		<ul>
			<li><a href="">{{ 'Listar' | translate }}</a></li>
		</ul>
	</li>
	<li><b>{{'Cadastros' | translate }}</b>
		<ul>

			<li><a data-ui-sref="root.register.my_business">{{'Minha Empresa e Filiais' | translate}}</a></li>

			<li><b>{{ 'Fabricantes' | translate }}</b>
				<ul>
					<li><a href="">{{ 'Criar' | translate }}</a></li>
					<li><a href="">{{ 'Listar' | translate }}</a></li>
				</ul>
			</li>
			<li><b>{{ 'Fornecedores' | translate }}</b>
				<ul>
					<li><a data-ui-sref="root.register_suppliers_create">{{ 'Criar' | translate }}</a></li>
					<li><a href="">{{ 'Listar' | translate }}</a></li>
				</ul>
			</li>
			<li><b>{{ 'Transportadoras, Expeditores e Correios' | translate }}</b>
				<ul>
					<li><a href="">{{ 'Criar' | translate }}</a></li>
					<li><a href="">{{ 'Listar' | translate }}</a></li>
				</ul>
			</li>
			<li><b>{{ 'Produtos' | translate }}</b>
				<ul>
					<li><b>{{ 'Departamento' | translate }}</b>
						<ul>
							<li><a href="">{{ 'Criar' | translate }}</a></li>
							<li><a href="">{{ 'Listar' | translate }}</a></li>
						</ul>
					</li>
					<li><b>{{ 'Categoria' | translate }}</b>
						<ul>
							<li><a href="">{{ 'Criar' | translate }}</a></li>
							<li><a href="">{{ 'Listar' | translate }}</a></li>
						</ul>
					</li>
					<li><b>{{ 'Características' | translate }}</b>
						<ul>
							<li><a href="">{{ 'Criar' | translate }}</a></li>
							<li><a href="">{{ 'Listar' | translate }}</a></li>
						</ul>
					</li>
					<li><b>{{ 'NCM' | translate }}</b>
						<ul><li><a href="">{{ 'Listar' | translate }}</a></li></ul>
					</li>
					<li><b>{{ 'Produtos' | translate }}</b>
						<ul>
							<li><a href="">{{ 'Criar' | translate }}</a></li>
							<li><a href="">{{ 'Listar' | translate }}</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><b>{{ 'Clientes' | translate }}</b>
				<ul>
					<li><a href="">{{ 'Criar' | translate }}</a></li>
					<li><a href="">{{ 'Listar' | translate }}</a></li>
				</ul>
			</li>
			<li><b>{{ 'Recursos Humanos & Parceiros' | translate }}</b>
				<ul>
					<li><b>{{ 'Departamentos e Funções' | translate }}</b>
						<ul>
							<li><b>{{ 'Departamentos' | translate }}</b>
								<ul>
									<li><a href="">{{ 'Criar' | translate }}</a></li>
									<li><a href="">{{ 'Listar' | translate }}</a></li>
								</ul>
							</li>
							<li><b>{{ 'Funções/Responsabilidades' | translate }}</b>
								<ul>
									<li><a href="">{{ 'Criar' | translate }}</a></li>
									<li><a href="">{{ 'Listar' | translate }}</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><b>{{ 'Funcionário' | translate }}</b>
						<ul>
							<li><a href="">{{ 'Criar' | translate }}</a></li>
							<li><a href="">{{ 'Listar' | translate }}</a></li>
						</ul>
					</li>
					<li><b>{{ 'Sócio' | translate }}</b>
						<ul>
							<li><a href="">{{ 'Criar' | translate }}</a></li>
							<li><a href="">{{ 'Listar' | translate }}</a></li>
						</ul>
					</li>
					<li><b>{{ 'Inst. Financeira' | translate }}</b>
						<ul>
							<li><a href="">{{ 'Criar' | translate }}</a></li>
							<li><a href="">{{ 'Listar' | translate }}</a></li>
						</ul>
					</li>
					<li><b>{{ 'Func. Terceirizado' | translate }}</b>
						<ul>
							<li><a href="">{{ 'Criar' | translate }}</a></li>
							<li><a href="">{{ 'Listar' | translate }}</a></li>
						</ul>
					</li>
					<li><b>{{ 'Empresa Terceira' | translate }}</b>
						<ul>
							<li><a href="">{{ 'Criar' | translate }}</a></li>
							<li><a href="">{{ 'Listar' | translate }}</a></li>
						</ul>
					</li>

				</ul>
			</li>
			<li><b>{{ 'Serviços' | translate }}</b>
				<ul>
					<li><a href="">{{ 'Criar' | translate }}</a></li>
					<li><a href="">{{ 'Listar' | translate }}</a></li>
				</ul>
			</li>
		</ul>
	</li>

	<li>
		<b>{{ 'Ordens' | translate }}</b>
		<ul>
			<li><b>{{ 'Estoques' | translate }}</b>
				<ul>
					<li><a href="">{{ 'Criar' | translate }}</a></li>
					<li><a href="">{{ 'Listar' | translate }}</a></li>
				</ul>
			</li>
			<li><b>{{ 'Despesas' | translate }}</b>
				<ul>
					<li><b>{{ 'Categoria de Despesa' | translate }}</b>
						<ul>
							<li><a href="">{{ 'Criar' | translate }}</a></li>
							<li><a href="">{{ 'Listar' | translate }}</a></li>
						</ul>
					</li>
					<li><b>{{ 'Despesa' | translate }}</b>
						<ul>
							<li><a href="">{{ 'Criar' | translate }}</a></li>
							<li><a href="">{{ 'Listar' | translate }}</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><b>{{ 'Produções' | translate }}</b>
				<ul>
					<li><b>{{ 'Processos de Produção' | translate }}</b>
						<ul>
							<li><a href="">{{ 'Criar' | translate }}</a></li>
							<li><a href="">{{ 'Listar' | translate }}</a></li>
						</ul>
					</li>
					<li><b>{{ 'Produção' | translate }}</b>
						<ul>
							<li><a href="">{{ 'Criar' | translate }}</a></li>
							<li><a href="">{{ 'Listar' | translate }}</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><b>{{ 'Locações' | translate }}</b>
				<ul>
					<li><a href="">{{ 'Criar' | translate }}</a></li>
					<li><a href="">{{ 'Listar' | translate }}</a></li>
				</ul>
			</li>
			<li><b>{{ 'Vendas' | translate }}</b>
				<ul>
					<li><a href="">{{ 'Criar' | translate }}</a></li>
					<li><a href="">{{ 'Listar' | translate }}</a></li>
				</ul>
			</li>
			<li><b>{{ 'Serviços' | translate }}</b>
				<ul>
					<li><a href="">{{ 'Criar' | translate }}</a></li>
					<li><a href="">{{ 'Listar' | translate }}</a></li>
				</ul>
			</li>
		</ul>
	</li>

	<li>
		<b>{{ 'Financeiro' | translate }}</b>
		<ul>
			<li><b>{{ 'Contas' | translate }}</b>
				<ul>
					<li><b>{{ 'Bancos' | translate }}</b>
						<li><a href="">{{ 'Listar' | translate }}</a></li>
					</li>
					<li><b>{{ 'Dinheiros' | translate }}</b>
						<li><a href="">{{ 'Listar' | translate }}</a></li>
					</li>
					<li><b>{{ 'Comissões' | translate }}</b>
						<li><a href="">{{ 'Listar' | translate }}</a></li>
					</li>
					<li><b>{{ 'Reservas' | translate }}</b>
						<li><a href="">{{ 'Listar' | translate }}</a></li>
					</li>
					<li><b>{{ 'Investimentos' | translate }}</b>
						<li><a href="">{{ 'Listar' | translate }}</a></li>
					</li>
					<li><b>{{ 'Emprestimos' | translate }}</b>
						<li><a href="">{{ 'Listar' | translate }}</a></li>
					</li>
				</ul>
			</li>
			<li><b>{{ 'Notas Fiscais' | translate }}</b>
				<li><a href="">{{ 'Listar' | translate }}</a></li>
			</li>
			<li><b>{{ 'Contas a Pagar' | translate }}</b>
				<li><a href="">{{ 'Listar' | translate }}</a></li>
			</li>
			<li><b>{{ 'Contas a Receber' | translate }}</b>
				<li><a href="">{{ 'Listar' | translate }}</a></li>
			</li>
			<li><b>{{ 'Taxas e Impostos' | translate }}</b>
				<li><a href="">{{ 'Listar' | translate }}</a></li>
			</li>
			<li><b>{{ 'Transferências' | translate }}</b>
				<li><a href="">{{ 'Listar' | translate }}</a></li>
			</li>
		</ul>
	</li>

	

	<li>
		<b>{{ 'Inventário' | translate }}</b>
		<ul>
			<li>
				<b>{{ 'Armazenamento' | translate }}</b>
				<ul>
					<li><b>{{ '' | translate }}Localizações</b>
						<ul>
							<li><a href="">{{ 'Criar' | translate }}</a></li>
							<li><a href="">{{ 'Listar' | translate }}</a></li>
						</ul>
					</li>
					<li><b>{{ 'Armazenagens' | translate }}</b>
						<li><a href="">{{ 'Listar' | translate }}</a></li>
					</li>
				</ul>
			</li>
			<li><b>{{ 'Localizações' | translate }}</b>
				<ul>
					<li><a href="">{{ 'Criar' | translate }}</a></li>
					<li><a href="">{{ 'Listar' | translate }}</a></li>
				</ul>
			</li>
			<li><b>{{ 'Inventário do Estoque' | translate }}</b>
				<ul>
					<li><a href="">{{ 'Listar' | translate }}</a></li>
				</ul>
			</li>
			<li><b>{{ 'Devoluções' | translate }}</b>
				<ul>
					<li><a href="">{{ 'Listar' | translate }}</a></li>
				</ul>
			</li>
			<li><b>{{ 'Discrepancias' | translate }}</b>
				<ul>
					<li><a href="">{{ 'Listar' | translate }}</a></li>
				</ul>
			</li>
			<li><b>{{ 'Reservas' | translate }}</b>
				<ul>
					<li><a href="">{{ 'Listar' | translate }}</a></li>
				</ul>
			</li>
		</ul>
	</li>
</ul>