<div class="row" data-foundation-init>
	<div class="small-12 columns r2-home-title">
		<h3>Minha Conta: {{user.user}}</h3>
		<div class="r2-line-title-decorator"></div>
	</div>
</div>
<form novalidate id="minhaContaForm" name="minhaContaForm" ng-model-options="{updateOn:'default blur',debounce:{'default':500,'blur':0}}" ng-show="hasUser">
	<div class="row  r2-margin-top-20">
		<div class="small-12 columns">
			
			<ul class="accordion" data-accordion>
				
				<li class="accordion-item is-active" data-accordion-item>
					<a href="#" class="accordion-title">Pessoal</a>
					<div class="accordion-content" data-tab-content>
						
						<button class="button expanded">ATUALIZAR PESSOAL</button>
					</div>
					
				</li>
				<li class="accordion-item" data-accordion-item>
					<a href="#" class="accordion-title">Contato</a>
					<div class="accordion-content" data-tab-content>
						contato
						<button class="button expanded">ATUALIZAR CONTATO</button>
					</div>
					
				</li>
				<li class="accordion-item" data-accordion-item>
					<a href="#" class="accordion-title">Endereço</a>
					<div class="accordion-content" data-tab-content>
						
						<button class="button expanded" ng-click="updateAddress()" ng-disabled="minhaContaForm.user_password.$invalid || minhaContaForm.user_conf_password.$invalid">ATUALIZAR ENDEREÇO</button>
					</div>
				</li>
				<li class="accordion-item" data-accordion-item>
					<a href="#" class="accordion-title">Alterar Senha</a>
					<div class="accordion-content" data-tab-content>

						<div class="row">
							<div class="medium-12 columns">
								<label for="user_password">
									<span class="r2-label-standard">Nova Senha: </span>
									<br>
									<input type="password" class="form-control" placeholder="Nova Senha" id="user_password" name="user_password"
									ng-model="user.password"
									required/>
								</label>
							</div>
							<div class="medium-12 columns">
								<label for="user_conf_password" class="r2-label-float">
									<br>
									<input type="password" class="form-control" placeholder="Confirme a Senha" id="user_conf_password" name="user_conf_password"
									ng-model="user.confPassword"
									data-r2-compare-to="user.password"
									required
									floating-validation/>
								</label>
							</div>
						</div>

						<br>

						<button class="button expanded" ng-click="updatePassword()" ng-disabled="minhaContaForm.user_password.$invalid || minhaContaForm.user_conf_password.$invalid">ATUALIZAR SENHA</button>
					</div>
				</li>
			</ul>
			<button class="button expanded">ATUALIZAR USUÁRIO</button>
		</div>
	</div>
</form>

<ul>
  <li data-ng-repeat="(key, errors) in minhaContaForm.$error track by $index"> <strong>{{ key }}</strong> errors
    <ul>
      <li data-ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
    </ul>
  </li>
</ul>