<div data-foundation-init>
	<nav id="r2-admin-menu">
		<ul class="vertical menu" data-accordion-menu>
			<li ui-sref-active="active"><a  data-ui-sref="admin"><span class="icon-reorder"></span>Sistema</a></li>
			<li ui-sref-active="active"><a  data-ui-sref="admin.users"><span class="icon-users"></span>Usuários & Clientes</a></li>
			<li ui-sref-active="active"><a data-ui-sref="admin.manufacturers"><span class="icon-industry"></span>Fabricantes</a></li>
			<li ui-sref-active="active">
				<a data-ui-sref="admin.products"><span class="icon-box2"></span>Produtos</a>
				<ul class="menu vertical nested">
					<li ui-sref-active="active"><a data-ui-sref="admin.products.departments">Departamentos</a></li>
					<li ui-sref-active="active"><a data-ui-sref="admin.products.features">Características</a></li>
					<li ui-sref-active="active"><a data-ui-sref="admin.products">Produtos</a></li>
					<li ui-sref-active="active"><a data-ui-sref="admin.products.combostores">Combos</a></li>
					<li ui-sref-active="active"><a data-ui-sref="admin.products">Depoimentos</a></li>
				</ul>
			</li>
			<li ui-sref-active="active"><a data-ui-sref="admin.inventories"><span class="icon-shop"></span>Estoque</a></li>
			<li ui-sref-active="active"><a data-ui-sref="admin.coupons"><span class="icon-mail-read"></span>Cupons de Descontro</a></li>
			<li ui-sref-active="active"><a data-ui-sref="admin.ordersale"><span class="icon-credit-card"></span>Pedido de Venda</a></li>
			<!-- <li><a >Newsletters</a></li> -->
			<li ui-sref-active="active"><a data-ui-sref="admin.statistics"><span class="icon-stats"></span>Estatísticas</a></li>
			<li><a href="http://www.ecomart.com.br" target="_self"><span class="icon-exit"></span>Site</a></li>
		</ul>
	</nav>
</div>