<footer class="r2-margin-top-20">
	<div class="expanded r2-blueocen-bar">
		<div class="row align-center r2-newsletter">
			<div class="small-12 large-expand columns">
				<span class="r2-newsletter-info">
					<span class="r2-color-white">ESCREVA SEU E-MAIL PARA RECEBER</span> OFERTAS E NOVIDADES
				</span>
			</div>
			<div class="small-12 large-expand columns">
				<div class="input-group">
				  <input class="input-group-field" type="email">
				  <div class="input-group-button">
				    <input type="submit" class="button" placeholder="Seu" value="Enviar">
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded r2-lightblueocean-bar">
		<div id="r2-rodape-principal">
			<div class="row">
			  <div class="small-12 large-expand columns">
				<h4>Ecomart</h4>
				<ul>
					<li><a data-ui-sref="root.quemsomos">Quem somos</a></li>
					<li><a data-ui-sref="root.politicas">Política de compra</a></li>
					<li><a data-ui-sref="root.politicas">Política de devolução</a></li>
					<li><a data-ui-sref="root.politicas">Política de privacidade</a></li>
					<li><a data-ui-sref="root.politicas">Política de site</a></li>
					<li><a data-ui-sref="root.revendedores">Revendedores</a></li>
				</ul>
			  </div>
			  <div class="small-12 large-expand columns">
				<h4>SAC</h4>
				<ul>
					<li><a data-ui-sref="root.faq">Faq</a></li>
					<li><a data-ui-sref="root.faq">Garantia</a></li>
					<li><a data-ui-sref="root.assistencia">Assistência Técnica</a></li>
					<li>Tel.: 11 3246-6127</li>
					<li>Tel.: 11 3246-6135</li>
				</ul>
			  </div>
			  <div class="small-12 large-expand columns">
				<h4>MEUS PEDIDOS</h4>
				<ul>
					<li><a data-ui-sref="root.usercompras">Acompanhe seus pedidos</a></li>
					<li><a data-ui-sref="root.checkout">Meu Carrinho</a></li>
				</ul>

				<h4>ATENDIMENTO</h4>
				<p>Segunda à Sábado das <span class="r2-bold">8:00hs às 18:00hs.</span></p>
			  </div>
			  <div class="small-12 large-expand columns">
				<h4>SIGA-NOS</h4>
				<div>
					<a href="https://www.facebook.com/EcomartBrasil/" target="_blank"><img src="/img/icon-facebook-rodape.png" height="64" width="64"></a> &nbsp;&nbsp;&nbsp; 

					<a href="https://www.youtube.com/channel/UCNFTT8xY-UXG0B-Hx1pRaXg" target="_blan"><img src="/img/icon-youtube-rodape.png" height="64" width="64"></a>
				</div>
			  </div>
			  <div class="small-12 large-expand columns">
				<img src="/img/logo-inbrasmec-rodape.png"> 
				<br>
				<br>
				<br>
				<img src="/img/logo-ecomart-rodape.png"> 
			  </div>
			</div>
		</div>
	</div>
	<div class="expanded r2-white-bar">
		<img class="r2-rodape" src="/img/rodape.jpg">
	</div>
	<div class="expanded r2-darkgrey-bar">
		<div class="row r2-copyright-info">
			<div class="large-12 columns">
				Copyright © 2016 • Ecomart • Todos os direitos reservados • 11 3246-6127 / 11 3246-6135 | Desenvolvido por Media Force - Agência Digital

			</div>
		</div>
	</div>
</footer>