<div>
	FORMULÁRIO DE LOGIN

	<form class="login-form" novalidate name="loginForm">
		<label for="user_user" class="r2-label-float">
			<br>
			<input type="email" class="form-control" placeholder="E-mail de Acesso" id="user_user" name="user_user"
			ng-model="User.user"
			required
			floating-validation/>
		</label>

		<label for="user_password" class="r2-label-float">
			<br>
			<input type="text" class="form-control" placeholder="Senha" id="user_password" name="user_password"
			ng-model="User.password" required
			floating-validation/>
		</label>

		<button class="small expanded button" ng-click="login()" ng-disabled="userForm.$invalid">LOGAR</button>
	</form>
</div>