<div>
	<form name="dateDeliveryForm">
		<label for="order_date_shipped">
			<span class="r2-label-standard">Data de Envio</span>
			<input type="date" name="order_date_shipped" ng-model="order.dateShipped" id="order_date_shipped"/>
		</label>
		<label for="order_cod_rastreio">
			<span class="r2-label-standard">Cód. de Rastreio</span>
			<input type="text" name="order_cod_rastreio" ng-model="order.codRastreio" id="order_cod_rastreio"/>
		</label>
		<button ng-click="updateDateDelivery()" class="button expanded">Atualizar</button>
	</form>
</div>